body {
  background: red !important;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #121212;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background: #1e1e1e;
  padding: 30px;
  border-radius: 8px;
  width: 300px;
}

.login-container h1 {
  text-align: center;
}

.login-container input,
.login-container button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

